In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import arviz as az
import seaborn as sns

In [2]:
%config InlineBackend.figure_format = 'retina'
RANDOM_SEED = 42
rng = np.random.default_rng(RANDOM_SEED)
az.style.use("arviz-darkgrid")

In [3]:
table = pd.DataFrame(index=["Urn 1", "Urn 2"])
table["prior"] = 1 / 2, 1 / 2
table

       prior
Urn 1    0.5
Urn 2    0.5

In [4]:
table["likelihood"] = 3 / 4, 1 / 2
table

       prior  likelihood
Urn 1    0.5        0.75
Urn 2    0.5        0.50

In [5]:
table["unnorm"] = table["prior"] * table["likelihood"]
table

       prior  likelihood  unnorm
Urn 1    0.5        0.75   0.375
Urn 2    0.5        0.50   0.250

In [6]:
prob_data = table["unnorm"].sum()

In [7]:
table["posterior"] = table["unnorm"] / prob_data
table

       prior  likelihood  unnorm  posterior
Urn 1    0.5        0.75   0.375        0.6
Urn 2    0.5        0.50   0.250        0.4

In [8]:
table2 = pd.DataFrame(index=[6, 8, 12])
table2

Empty DataFrame
Columns: []
Index: [6, 8, 12]

In [9]:
from fractions import Fraction

table2["prior"] = Fraction(1, 3)
table2

   prior
6    1/3
8    1/3
12   1/3

In [10]:
table2["likelihood"] = Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [11]:
table2["unnorm"] = table2["prior"] * table2["likelihood"]
table2

   prior likelihood unnorm
6    1/3        1/6   1/18
8    1/3        1/8   1/24
12   1/3       1/12   1/36

In [12]:
prob_data = table2["unnorm"].sum()
table2["posterior"] = table2["unnorm"] / prob_data
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

In [13]:
%load_ext watermark
%watermark -n -u -v -iv -w -m

Last updated: Sun Jun 16 2024

Python implementation: CPython
Python version       : 3.12.3
IPython version      : 8.25.0

Compiler    : Clang 16.0.6
OS          : Darwin
Release     : 23.4.0
Machine     : arm64
Processor   : arm
CPU cores   : 8
Architecture: 64bit

numpy     : 1.26.4
arviz     : 0.18.0
pandas    : 2.2.2
matplotlib: 3.8.4
seaborn   : 0.13.2

Watermark: 2.4.3